# SPDX-License-Identifier: MPL-2.0

bin
dist
node_modules
.vite-stats
.tanstack
pip-package/shaper_pkg/__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
