/* SPDX-License-Identifier: MPL-2.0 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}


@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/fonts/SourceSansPro-Regular.ttf.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/fonts/SourceSansPro-Semibold.ttf.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/fonts/SourceSansPro-Bold.ttf.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}


:root {
  --shaper-font: DMSans;
  --shaper-display-font: SourceSansPro;
  --shaper-reference-line-color: #b5b5b5;

  --shaper-color-two: #7ca7d4;
  --shaper-color-three: #ffaaaa;
  --shaper-color-four: #e0297a;
  --shaper-color-five: #f5b067;
  --shaper-color-six: #67b983;
  --shaper-color-seven: #c4c4c4;

  --shaper-primary-color: #4c68bf;
  --shaper-primary-color-alternate: #3955ac;
  --shaper-text-color: #3d3f45;
  --shaper-text-color-secondary: #545964;
  --shaper-text-color-invert: #fff;
  --shaper-text-color-button: #fff;
  --shaper-background-color: #fff;
  --shaper-background-color-secondary: #f6f8fa;
  --shaper-background-color-alternate: #e8e8ef;
  --shaper-background-color-invert: #353d4b;
  --shaper-border-color: #d6d8fa;
  --shaper-error-color: #df4f56;
  --shaper-error-color-alternate: #ce474d;

  --shaper-dark-mode-primary-color: #4f6dcc;
  --shaper-dark-mode-primary-color-alternate: #657fd3;
  --shaper-dark-mode-background-color-secondary: #28252e;
  --shaper-dark-mode-text-color: rgb(239, 240, 244);
  --shaper-dark-mode-text-color-secondary: rgb(215, 216, 221);
  --shaper-dark-mode-text-color-invert: #171924;
  --shaper-dark-mode-text-color-button: #fff;
  --shaper-dark-mode-background-color: #3a3b48;
  --shaper-dark-mode-background-color-secondary: #424453;
  --shaper-dark-mode-background-color-alternate: #585a72;
  --shaper-dark-mode-background-color-invert: #f5f5f5;
  --shaper-dark-mode-border-color: #777985;
  --shaper-dark-mode-error-color: #ca4a56;
  --shaper-dark-mode-error-color-alternate: #e85260;
}

.shaper-scope {
  position: relative
}

.shaper-scope .\@container {
  container-type: size;
}

@page {
  size: A4;
  margin-left: 7.048mm;
  margin-right: 7.048mm;
  margin-top: 6.62mm;
  margin-bottom: 14.62mm;
}

@media print {
  .shaper-scope body {
    width: 1020px;
  }
  .shaper-scope .\@container {
    container-type: unset;
  }
}

