@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-medium-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-semibold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-bold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: 'Arimo';
  src: url('./assets/fonts/arimo.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Arimo';
  src: url('./assets/fonts/arimobold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


:root {
  --shaper-font: Poppins;
  --shaper-display-font: Arimo;
  --shaper-reference-line-color: rgb(244 114 182 / 0.5);

  --shaper-primary-color: #5659e8;
  --shaper-primary-color-alternate: #4940e5;
  --shaper-color-two: #7ae4e9;
  --shaper-color-three: #ec74f6;
  --shaper-color-four: #fef08a;
  --shaper-color-five: #7dd3fc;
  --shaper-text-color: #181919;
  --shaper-text-color-secondary: #757a80;
  --shaper-text-color-invert: #f8fafc;
  --shaper-background-color: #f9fafd;
  --shaper-background-color-alternate: #eef1f4;
  --shaper-background-color-invert: #131a25;
  --shaper-border-color: #d5dae1;

  --shaper-dark-mode-primary-color: #6366f1;
  --shaper-dark-mode-primary-color-alternate: #4f46e5;
  --shaper-dark-mode-text-color: rgb(239, 240, 244);
  --shaper-dark-mode-text-color-secondary: rgb(215, 216, 221);
  --shaper-dark-mode-text-color-invert: #080911;
  --shaper-dark-mode-background-color: #131522;
  --shaper-dark-mode-background-color-alternate: #252944;
  --shaper-dark-mode-background-color-invert: #ebecf2;
  --shaper-dark-mode-border-color: #282c48;
}

body[data-scroll-locked] {
  padding-top: 0 !important;
}

.shaper-scope body {
  margin: 0;
}
