@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/fonts/SourceSansPro-Regular.ttf.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./assets/fonts/SourceSansPro-Bold.ttf.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


:root {
  --shaper-font: DMSans;
  --shaper-display-font: SourceSansPro;
  --shaper-reference-line-color: rgb(244 114 182 / 0.5);

  --shaper-primary-color: #3544ff;
  --shaper-primary-color-alternate: #2732d1;
  --shaper-color-two: #7ae4e9;
  --shaper-color-three: #ec74f6;
  --shaper-color-four: #fef08a;
  --shaper-color-five: #7dd3fc;
  --shaper-text-color: #181919;
  --shaper-text-color-secondary: #757a80;
  --shaper-text-color-invert: #f8fafc;
  --shaper-background-color: #fff;
  --shaper-background-color-light: #f0f4f9;
  --shaper-background-color-alternate: #e5e8f2;
  --shaper-background-color-invert: #131a25;
  --shaper-border-color: #dadaef;
  --shaper-error-color: #ff4d4f;

  --shaper-dark-mode-primary-color: #3544ff;
  --shaper-dark-mode-primary-color-alternate: #2732d1;
  --shaper-dark-mode-text-color: rgb(239, 240, 244);
  --shaper-dark-mode-text-color-secondary: rgb(215, 216, 221);
  --shaper-dark-mode-text-color-invert: #080911;
  --shaper-dark-mode-background-color: #181A27;
  --shaper-dark-mode-background-color-light: #1C1F34;
  --shaper-dark-mode-background-color-alternate: #2C304B;
  --shaper-dark-mode-background-color-invert: #ebecf2;
  --shaper-dark-mode-border-color: #262B4E;
  --shaper-dark-mode-error-color: #ff4d4f;
}

.shaper-scope body {
  margin: 0;
}
